@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
font-family: Poppins;

}
.MainTitle {
text-align: center;
font-size: larger;
bottom: 6em;
background-color: orange;
color: ghostwhite;
font-size: 2em;
border-radius: 2em;
}

.back-button {
position: sticky;
height: 200px;
width: 200px;

}
.yt1 {
text-align: center;
padding: 2.5cm;
}



.yt {
text-align: center;
padding: 1cm;
margin: 3cm;
}